
@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@0,700;1,700&family=Ropa+Sans&display=swap');
/* Aspectos Generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: whitesmoke;
    font-family: 'Play', sans-serif;
}



body {
    background-color: #1f2227;
    
}

h1 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    font-weight: 400;
}

p {
    font-size: 1em;
    text-align: center;
    padding: 1em;
    font-weight: 200;
}

.increase {
    font-size: 2.50em;
}
/* Fin de Aspectos Generales */

/* Contenido navbar  */
.logo {
    position: absolute;
    height: 75px;
    top: 0.20%;
    left: 3%;
}

i {
    color: white;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 1.10em;
    list-style: none;
    font-weight: 600;
}

header {
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
    width: 105%;
    opacity: 92%;
    height: 80px;
}

.header_navbar ul {
    display: flex;
    padding: 1em;
    margin-top: 0.40em;
    margin-left: 10%;
}

.header_navbar ul li {
    display: inline-flex;
    padding-left: 5%;
    margin-left: 8%;
}

ul li a:hover {
    border-bottom: solid white 0.10em;
    border-radius: 1%;
}

.header_navbar ul li a i {
    margin-right: -1%;
    padding: 0.20em;
    font-size: 1em;
}

#btn-busqueda {
    border: none;
    background-color: transparent;
    text-decoration: none;
    width: 5em;
}

#btn-busqueda::placeholder {
    color: white;
}

#btn-busqueda:focus {
    outline: none;
}

/* fin de seccion navbar */

/* Contenido Grid */
.body {  display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 6% 100% 21%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header "
      "main main "
      "footer footer ";
  }
  
  .header { grid-area: header; }
  
  .main { grid-area: main; }
  
  .footer { grid-area: footer; }
  
/* Fin de contanido Grid */


/* Inicio de Main Productos busqueda */
.main_busqueda_productos {
    height: 250px;
    width: 600px;
    background: rgb(53, 57, 65);
    opacity: 95%;
}

.main_busqueda_productos_elementos h2 {
    font-size: 1em;
    color: white;
}

.main_busqueda_productos_elementos p {
    color: white;
    font-size: 1em;
}

/* Inicio de Main formulario */
.main {
    background-image:url(../images/XiaomiBackground.jpg) ;
    background: cover;
    height: 110%;
}

.main_seccionformulario {
    display: flex;
    margin-top: 1em;
    height: 60%;
    width: 40em;
    background-color: rgb(53, 57, 65);
    margin-top: 5%;
    margin-left: 10%;
    opacity: 95%;
    z-index: 1;
}


.logoformulario {
    height: 200px;
    display: block;
    margin-top: 25%;
    padding-left: 10%;
}

.labelfont {
    display: block;
    font-size: 1.70em;
    font-weight: 600;
    color: white;
    margin-top: 10%;
    padding-left: 5%;
}

.labelinput{
    display: block;
    padding: 0.25em;
    font-size: 1.50em;
    font-weight: 500;
    margin-top:3%;
    margin-left: 5%;
    padding-left: 2%;
    width: 20em;
    background: transparent;
    border-bottom: solid white 0.0em;
    color: white;
    text-decoration: none;  
}

.labelinpu::placeholder{
    color:white;
}

.labelinput:focus {
    border: #f20085;
}

.main_seccion_formulario_boton {
    width: 15em;
    font-size: 2em;
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
    border: none;
    border-radius: 5%;
    margin-top: 20%;
    margin-left: 5%;
    transition: all 0.5s;
}

.main_seccion_formulario_boton:hover {
    cursor: pointer;
    background: linear-gradient(20deg, #be056a 0,#abb0cf 98%);
}

/* Fin de main */

/* Inicio de footer */
.footer {
    display: flex;
    margin-top: 2%;
    height: 400px;
    width: 105%;
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
    opacity: 92%;
    justify-items: center;
}

h2, h3, h4, h5  {
    font-size: 1.30em ;
    text-align: center;
    padding: 1em;
    font-weight: 600;
}

.seccion_footer {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.footer_informacion {
    position: relative;
    width: 25%;
    font-size: 1.30em;
}

.footer_informacion::after {
    content: '';
    position: absolute;
    right: -15%;
    top: 15%;
    height: 11em;
    width: 4px;
    border-radius: 2px;
    background-color: white;
}


.footer_parrafo {
    font-size: 1.3em !important;
    text-align: center;
    font-weight: 600;
    padding-right: 5%;
    margin-right: 3%;
}

.footer_redessociales {
    position: relative;
    width: 25%;
}

.footer_redessociales::after {
    content: '';
    position: absolute;
    right: -2%;
    top: 15%;
    height: 15em;
    width: 4px;
    border-radius: 2px;
    background-color: white;
}

.footer_redessociales ul {
    text-align: center;
}

.footer_redessociales ul li {
    text-decoration: none;
    font-size: 1em;
    list-style: none;
    font-weight: 700;
}

.footer_redessociales ul li i{
    font-size: 2em;
    padding-top: 0.30em;
    margin: 0.10em;
}

.footer_redessociales ul li i a{
    font-size: 1em;
}

.footer_metodosdepago {
    position: relative;
    width: 25%;
}

.footer_metodosdepago ul li i {
    font-size: 2.70em;
}

.footer_metodosdepago::after {
    content: '';
    position: absolute;
    right: -15%;
    top: 15%;
    height: 15em;
    width: 4px;
    border-radius: 2px;
    background-color: white;
}

.footer_metodosdepago i {
    font-size: 2em;
    padding-top: 0.30em;
    margin: 0.10em;
}

.footer_metodosdepago li {
    text-align: center;
}

.footer_copyright {
    width: 25%;
}
/* Fin de Footer */

/* Seccion Media Queries */