
@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@0,700;1,700&family=Ropa+Sans&display=swap');
/* Aspectos Generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: whitesmoke;
    font-family: 'Play', sans-serif;
}



body {
    background-color: #1f2227;
    line-height: 1.5;
}


h1 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    font-weight: 400;
}

.increase {
    text-align: center;
    padding: 1em;
    font-weight: 200;
    font-size: 2.50em;
}
/* Fin de Aspectos Generales */

/* Contenido navbar  */
.logo {
    position: absolute;
    height: 75px;
    top: 0.20%;
    left: 3%;
}

i {
    color: white;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 1.10em;
    list-style: none;
    font-weight: 600;
}

header {
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
    width: 105%;
    opacity: 92%;
    height: 80px;
    position: relative;
}

.header_navbar ul {
    display: flex;
    padding: 1em;
    margin-top: 0.40em;
    margin-left: 10%;
}

.header_navbar ul li {
    display: inline-flex;
    padding-left: 5%;
    margin-left: 8%;
}

ul li a:hover {
    border-bottom: solid white 0.10em;
    border-radius: 1%;
}

.header_navbar ul li a i {
    margin-right: -1%;
    padding: 0.20em;
    font-size: 1em;
}

#btn-busqueda {
    border: none;
    background-color: transparent;
    text-decoration: none;
    width: 5em;
}

#btn-busqueda::placeholder {
    color: white;
}

#btn-busqueda:focus {
    outline: none;
}
/* Inicio de Main Productos busqueda */


.main_busqueda_productos {
    background: rgb(53, 57, 65);
    height: 8em;
    width: 20em;
    display: flex;
    align-items: flex-end;
    top: 100%;
    left: 70%;
    position: absolute;
    z-index: 10;
}

.main_busqueda_productos_elementos h2 {
    font-size: 1em;
    color: white;
    text-align: left;
}

.main_busqueda_productos_elementos p {
    color: white;
    font-size: 1em;
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1em;
}

/* fin de seccion navbar */
/* Fin de seccion buscador */

/* Contenido Grid */
.body {  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6% 80% 21%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header "
      "main main "
      "footer footer ";
  }
  
  .header { grid-area: header; }
  
  .main { grid-area: main; }
  
  .footer { grid-area: footer; }
  
/* Fin de contanido Grid */

/* Inicio de Main Productos */
#divProductos {
    margin-left: 8vw;
    margin-right: 8vw;
}

.main_productos {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    height: 400px;
    width:  250px;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgb(29, 31, 35);
    background: radial-gradient(rgb(20, 20, 20) 70%, #000 100%);
    overflow: hidden;
    opacity: 95%;
}


.main_productos:hover img {
    transform: scale(1.1);
    opacity: 40%;
    transition: all 0.2s ease-out;
}

.main_productos_elementos  {
    position: absolute;
    text-align: center;
    top:0;
    left: 0;
    bottom: 0;
}

.main_productos_elementos h2 {
    position: relative;
    font-weight: 800;
    font-size: 1.40em;
}

.main_productos_elementos p {
    text-align: center;
    padding: 3%;
    font-weight: 600 ;
    font-size: 1.10em;
}

.main_productos img{
    height: 400px;
    width: 250px;
    object-fit: cover;
    box-sizing: border-box;
}

.main_productos_elementos h2::after {
    content: '';
    position: absolute;
    width: 55%;
    height: 0.20em;
    border-radius: 2px;
    left: 23%;
    bottom: 5%;
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
}

.btn-compra {
    position:relative;
    bottom: 13%;
    height: 10%;
    width: 103%;
    cursor: pointer;
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
    border-radius: 0.20em;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 600;

}

.btn-compra:hover {
    background: linear-gradient(20deg, #be056a 0,#abb0cf 98%);
    transition: all 0.5s;
}


/* Fin de main */

/* Inicio de footer */
.footer {
    display: flex;
    margin-top:10vh;
    height: 50vh;
    width: 105%;
    background: linear-gradient(20deg, #f20085 0,#c4caef 98%);
    opacity: 92%;
    justify-items: center;
}

h2, h3, h4, h5  {
    font-size: 1.30em ;
    text-align: center;
    padding: 1em;
    font-weight: 600;
}

.seccion_footer {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.footer_informacion {
    position: relative;
    width: 25%;
    font-size: 1.30em;
}

.footer_informacion::after {
    content: '';
    position: absolute;
    right: -15%;
    top: 15%;
    height: 11em;
    width: 4px;
    border-radius: 2px;
    background-color: white;
}


.footer_parrafo {
    font-size: 1.3em !important;
    text-align: center;
    font-weight: 600;
    padding-right: 5%;
    margin-right: 3%;
}

.footer_redessociales {
    position: relative;
    width: 25%;
}

.footer_redessociales::after {
    content: '';
    position: absolute;
    right: -2%;
    top: 15%;
    height: 15em;
    width: 4px;
    border-radius: 2px;
    background-color: white;
}

.footer_redessociales ul {
    text-align: center;
}

.footer_redessociales ul li {
    text-decoration: none;
    font-size: 1em;
    list-style: none;
    font-weight: 700;
}

.footer_redessociales ul li i{
    font-size: 2em;
    padding-top: 0.30em;
    margin: 0.10em;
}

.footer_redessociales ul li i a{
    font-size: 1em;
}

.footer_metodosdepago {
    position: relative;
    width: 25%;
}

.footer_metodosdepago ul li i {
    font-size: 2.70em;
}

.footer_metodosdepago::after {
    content: '';
    position: absolute;
    right: -15%;
    top: 15%;
    height: 15em;
    width: 4px;
    border-radius: 2px;
    background-color: white;
}

.footer_metodosdepago i {
    font-size: 2em;
    padding-top: 0.30em;
    margin: 0.10em;
}

.footer_metodosdepago li {
    text-align: center;
}

.footer_copyright {
    width: 25%;
}
/* Fin de Footer */

/* Seccion Media Queries */